.navbar-light .navbar-brand {
    color: $ligt;
    font-family: 'Bosch';
    &:hover {
      color: $secondary;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $ligt !important;
    font-size: 1.125rem;
}

.about-svg {
    position: absolute;
    width: 10%;
    right: 20px;
    animation: rotation 10s infinite linear;
    @include media-breakpoint-down(sm) {
      width: 30%;
    }
    @include media-breakpoint-up(md) {
      width: 15%;
    }
    @include media-breakpoint-up(lg) {
      width: 20%;
    }
    @include media-breakpoint-up(xl) {
      width: 10%;
    }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo-svg {
    position: absolute;
    width: 5%;
    left: 20px;
    top:30px;
    @include media-breakpoint-down(sm) {
      width: 30%;
    }
    @include media-breakpoint-up(md) {
      width: 15%;
    }
    @include media-breakpoint-up(lg) {
      width: 20%;
    }
    @include media-breakpoint-up(xl) {
      width: 10%;
    }
}
